<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="cn" connectionString="Server=alex-pc;Database=APP_STORE;User=SA;Password=SA;" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
        <add key="ParentTableName" value="APP_CATEGORY" />
        <add key="ChildTableName" value="APP" />
        <add key="ChildNumberOfColumns" value="5" />
        <add key="ChildLabelNames"
             value="ID,NAME,PRICE,COMPANY_ID,APP_CATEGORY_ID" />
        <add key="ChildTextBoxContent"
             value="1001,Test,10,1,1" />
        <add key="ColumnNamesInsertParameters"
             value="@id,@name,@price,@companyId,@appCategoryId" />
        <add key="UpdateQuery"
             value="update APP set NAME=@name,PRICE=@price,COMPANY_ID=@companyId,APP_CATEGORY_ID=@appCategoryId where ID=@id" />
        <add key="SelectQuery" value="select * from APP" />
        <add key="SelectParent" value="select * from APP_CATEGORY" />
        <add key="SelectChild" value="select * from APP where APP_CATEGORY_ID=@id" />
        <add key="DeleteChild" value="delete from APP where ID=@id" />
    </appSettings>

    <!-- <appSettings> -->
    <!--     <add key="ParentTableName" value="COMPANY" /> -->
    <!--     <add key="ChildTableName" value="MEMBER" /> -->
    <!--     <add key="ChildNumberOfColumns" value="3" /> -->
    <!--     <add key="ChildLabelNames" -->
    <!--          value="ID,NAME,COMPANY_ID" /> -->
    <!--     <add key="ChildTextBoxContent" -->
    <!--          value="1001,Test,1" /> -->
    <!--     <add key="ColumnNamesInsertParameters" -->
    <!--          value="@id,@name,@companyId" /> -->
    <!--     <add key="UpdateQuery" -->
    <!--          value="update MEMBER set NAME=@name,COMPANY_ID=@companyId where ID=@id" /> -->
    <!--     <add key="SelectQuery" value="select * from MEMBER" /> -->
    <!--     <add key="SelectParent" value="select * from COMPANY" /> -->
    <!--     <add key="SelectChild" value="select * from MEMBER where COMPANY_ID=@id" /> -->
    <!--     <add key="DeleteChild" value="delete from MEMBER where ID=@id" /> -->
    <!-- </appSettings> -->
</configuration>